# Cambiar nombre del archivo por solo .env
VITE_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/LLCCxxEJEMPLO/exec
VITE_FIREBASE_DATABASE_URL=https://your-project-default-rtdb.firebaseio.com
VITE_FIREBASE_INTERESTS_PATH=landingInterests
